
    <footer class="tan-background">
        <div class="">
            <div class="container center-align ">
                <span>©Donovyn Gantt</span>
          
                <span><a href="https://donovyngantt.com">Contact Me</a></span>
            </div>
    </footer>
    <script type="text/javascript" src="/js/materialize.js"></script> 
    <script type="text/javascript" src="/js/main.js"></script>

</body>
    
</html>